@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@model IEnumerable<HelloRavenDB.Models.Book>

<table>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
        </tr>
    }
</table>
